<form #frmProducto="ngForm" class="form-enable">
  <div class="card">
    <div class="card-header">
      <h2>Agregar Producto</h2>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label>Nombre:</label>
        <input
          name="inp_nombre"
          class="form-control"
          type="text"
          [(ngModel)]="producto.nombre"
          required
        />
      </div>
      <div class="form-group">
        <label>Descripcion:</label>
        <input
          name="inp_descripcion"
          class="form-control"
          type="text"
          [(ngModel)]="producto.descripcion"
          required
        />
      </div>
      <div class="form-group">
        <label>Precio:</label>
        <input
          name="inp_precio"
          class="form-control"
          type="text"
          [(ngModel)]="producto.precio"
          required
        />
      </div>
    </div>
    <div class="card-fotter">
      <button
        class="btn btn-success"
        (click)="registrarProducto(frmProducto)"
        [disabled]="frmProducto.invalid"
      >
        Registrar
      </button>
    </div>
  </div>
</form>
